.tax-receipt {
    border: 1px dashed blue;
    margin: 5px;
}

table {
    margin: 0 auto;
}

.label-table {
    text-align: left;
}

.table-value {
    text-align: right;
}

.table-total {
    font-style: italic;
}